.archivos-subidos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Lista con scroll solo */
.archivos-subidos ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 10px; /* menos espacio entre columnas */
    max-height: calc(3 * 45px + 2 * 10px); /* 3 filas de altura aprox + gaps */
    overflow-y: auto;  /* scroll vertical si hay más archivos */
}
/* Cada elemento de la lista (con su clase lista-archivos) */
.lista-archivos{
    display: flex;
    align-items: center;      /* alineado al borde superior */
    gap: 5px;                     /* radio + icono + texto más juntos */
    padding: 2px 5px;             /* padding pequeño para no separar del borde */
}

/* Icono PDF */
.lista-archivos img.icono-pdf {
    width: 35px;
    height: 35px;
}

/* Nombre del archivo */
.lista-archivos label {
    font-size: 0.9rem;
    color: var(--verde);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Radio button */
.lista-archivos input[type="radio"] {
    width: 20px;
    transform: scale(1.1);
    margin: 0; /* sin margen extra */
}
