* {
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #0F1317;
    min-height: 100vh;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #27AE60;
  font-size: 14px;
}
a:hover {
  color: #E0E0E0;
}
.titulo{
    font-style: italic;
    font-size: 1.7rem;
}
    /*Header*/
.isologo{
    width: 3rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.navbar div{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}
.navbar div a{
    font-size: large;
}
    /*Main*/
.contenedor_general{
    display: grid;
    grid-template-columns: 0.7fr 1.8fr 0.7fr;
    padding: 4rem;
    gap: 3rem;
}
.estructura{
    background-color: #181D22;
    border-radius: 1rem;
    color: #BDBDBD;
    padding: 2rem;
}
.palabra{
    font-size: 3rem;
}
 /*Columna izquierda*/
.user{
    width: 8rem;
    border-radius: 50%;
}
.columnaUno{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.5rem;
}
.ver_mas{
    font-size: 1.5rem;
}
 /*Columna central*/
 .box_ordenarPor{
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 .separador {
   width: 100%;
   height: 1px;
   background-color: #27AE60;
   margin: 0.5rem auto;
 }
 .box_ordenarPor form{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #BDBDBD;
    font-size: small;
 }
 .box_ordenarPor form label{
    width: 11rem;
 }
.box_ordenarPor select {
     width: 100%;
     height: 2rem;
     background-color: #1B2227;
     color: #F5F5F5;
     border: 1px solid #1B2227;
     border-radius: 0.3rem;
     padding: 0.3rem;
     appearance: none;
     cursor: pointer;
}
.box_ordenarPor select:focus {
  outline: none;
  border: 1px solid #27AE60;
  box-shadow: 0 0 0.3rem #27AE60;
}

.box_ordenarPor select option {
  background-color: #181D22;
  color: #F5F5F5;
}
.columnaDos{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.box_comentario{
    display: flex;
    flex-direction: column;
}
.box_comentario textarea{
      font-family: "Inter", sans-serif;
      background-color: #1B2227;
      border: 1px solid #1B2227;
      border-radius: 0.4rem;
      width: 100%;
      height: 5rem;
      padding: 0 0.8rem;
      color: #BDBDBD;
      font-size: 15px;
      outline: none;
      resize: none;
}
.box_comentario input:focus {
  border: 1px solid #27AE60;
}
.box_comentario input::placeholder {
  color: #9E9E9E;
}
.box_publi_botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}
.box_publi_botones button{
     background-color: #27AE60;
      color: #F5F5F5;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 0.4rem;
      width: 9rem;
      height: 3rem;
      cursor: pointer;
      transition: background-color 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
}
.botones_acciones {
    all: unset; /* borra todos los estilos nativos del navegador */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.botones_acciones img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.btns_interaccion_publicacion{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
 /*Columna derecha*/
.columnaTres{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.user2{
    width: 2rem;
    background-color: transparent;
}

    /* Responsive*/
 @media (max-width: 75rem) {
     .contenedor_general {
         grid-template-columns: 1fr 2fr 1fr;
         gap: 2rem;
         padding: 1.5rem;
     }

     main {
         font-size: 0.95rem;
     }

     nav a {
         font-size: 0.9rem;
     }

     .box_publi_botones button{
          width: 8rem;
          height: 3rem;
     }

 }

 @media (max-width: 56.25rem) {
     .contenedor_general {
         grid-template-columns: 1fr;
         padding: 1.5rem;
         margin-top: 2rem;
     }

     .columnaUno,
     .columnaTres {
         display: none;
     }

     .columnaDos {
         max-width: 40rem;
         margin: 0 auto;
     }
     .box_publi_botones button{
        width: 7rem;
        height: 3rem;
     }
     nav .isologo {
         display: none;
     }

     nav {
         display: flex;
         justify-content: center;
         gap: 2rem;
     }

     nav a {
         font-size: 1rem;
     }
 }

 @media (max-width: 37.5rem) {
     .contenedor_general {
         grid-template-columns: 1fr;
         padding: 1rem;
         gap: 1.5rem;
     }
     .columnaDos {
         max-width: 100%;
         margin: 0;
     }
      nav .isologo {
          display: none;
      }
     nav {
         padding: 0.8rem 1rem;
         display: flex;
         justify-content: center;
     }
     nav a {
         font-size: 0.9rem;
     }
     .box_publi_botones button{
          width: 6rem;
          height: 3rem;
     }
 }
