* {
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #121212;
    min-height: 100vh;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #27AE60;
  font-size: 14px;
}
a:hover {
  color: #E0E0E0;
}
.titulo{
    font-style: italic;
    font-size: 1.7rem;
}
    /*Header*/
.isologo{
    width: 4rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.navbar div{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}
.navbar div a{
    font-size: x-large;
}
    /*Main*/
.contenedor_general{
    display: grid;
    grid-template-columns: 0.7fr 1.8fr 0.7fr;
    padding: 4rem;
    gap: 3rem;
}
.estructura{
    background-color: #1E1E1E;
    border-radius: 1rem;
    color: #BDBDBD;
    padding: 2rem;
}
 /*Columna izquierda*/
.user{
    width: 8rem;
    border-radius: 50%;
}
.columnaUno{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.5rem;
}
.ver_mas{
    font-size: 1.5rem;
}
 /*Columna central*/
.columnaDos{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.box_comentario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box_comentario input{
      background-color: #2B2B2B;
      border: 1px solid #2B2B2B;
      border-radius: 0.4rem;
      width: 100%;
      height: 5rem;
      padding: 0 0.8rem;
      color: #E0E0E0;
      font-size: 15px;
      outline: none;
}
.box_comentario input:focus {
  border: 1px solid #27AE60;
}
.box_comentario input::placeholder {
  color: #9E9E9E;
}
.box_publi_botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}
.box_publi_botones button{
     background-color: #27AE60;
      color: #F5F5F5;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 0.4rem;
      width: 9rem;
      height: 3rem;
      cursor: pointer;
      transition: background-color 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
}
.botones_acciones button{
    background-color: #1E1E1E;
    cursor: pointer;
    border-radius: 0.5rem;
}
 /*Columna derecha*/
.columnaTres{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.user2{
    width: 3rem;
}

    /* Responsive*/
 @media (max-width: 75rem) {
     .contenedor_general {
         grid-template-columns: 1fr 2fr 1fr;
         gap: 2rem;
         padding: 1.5rem;
     }

     main {
         font-size: 0.95rem;
     }

     nav a {
         font-size: 0.9rem;
     }

     .box_publi_botones button{
          width: 8rem;
          height: 3rem;
     }

 }

 @media (max-width: 56.25rem) {
     .contenedor_general {
         grid-template-columns: 1fr;
         padding: 1.5rem;
         margin-top: 2rem;
     }

     .columnaUno,
     .columnaTres {
         display: none;
     }

     .columnaDos {
         max-width: 40rem;
         margin: 0 auto;
     }
     .box_publi_botones button{
        width: 7rem;
        height: 3rem;
     }
     nav .isologo {
         display: none;
     }

     nav {
         display: flex;
         justify-content: center;
         gap: 2rem;
     }

     nav a {
         font-size: 1rem;
     }
 }

 @media (max-width: 37.5rem) {
     .contenedor_general {
         grid-template-columns: 1fr;
         padding: 1rem;
         gap: 1.5rem;
     }
     .columnaDos {
         max-width: 100%;
         margin: 0;
     }
      nav .isologo {
          display: none;
      }
     nav {
         padding: 0.8rem 1rem;
         display: flex;
         justify-content: center;
     }
     nav a {
         font-size: 0.9rem;
     }
     .box_publi_botones button{
          width: 6rem;
          height: 3rem;
     }
 }
