<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar">
    <a href="/spring/home"><img class="isologo" th:src="@{/imagenes/isologo.png}"></a>
    <div>
        <ul class="menu">
            <li>
                <button id="btn-tema" class="boton-tema"><img class="isologo" th:src="@{/imagenes/modo-oscuro.png}"></button>
            </li>
            <li class="menu-notificaciones">
                <a href="#" id="btn-notificaciones" th:attr="data-user-id=${usuario.id}">
                    Notificaciones
                    <span th:if="${usuario.cantidadNotificaciones > 0}"
                          class="badge"
                          th:text="${usuario.cantidadNotificaciones}"></span>
                </a>
                <div id="dropdown-notificaciones" class="dropdown" style="display:none;">
                    <ul id="listaNotificaciones"></ul>
                </div>
            </li>            <!-- Enlace "Mis amigos" -->
            <li><a href="/spring/amistad/amigos">Mis amigos</a></li>
            <li><a href="/spring/miPerfil">Mensajes</a></li>
            <li class="menu-perfil">
                <a href="#" class="menu-titulo">Mi Perfil</a>
                <ul class="submenu">
                    <li><a href="/spring/miPerfil">Ver mi perfil</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="link-btn">Cerrar sesión</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
