<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar">
    <a href="#"><img class="isologo" th:src="@{/imagenes/isologo.png}"></a>
    <!--<a href="#"><img class="isologo" src="../../../resources/core/imagenes/isologo.png"></a>-->
    <div>
        <button id="btn-tema" class="boton-tema"><img class="isologo" th:src="@{/imagenes/modo-oscuro.png}"></button>
        <a href="/spring/miPerfil">Mi Perfil</a>
        <a href="/spring/miPerfil">Notificaciones</a>
        <a href="/spring/miPerfil">Mensajes</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn">Cerrar sesión</button>
        </form>
        <!--<a href="/spring/miPerfil">Cerrar sesión</a>-->
    </div>
</nav>
</body>
</html>