<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.worker.min.js"></script>
    <!--<th:block th:insert="template/head :: links-comunes"></th:block>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="icon" th:href="@{/imagenes/isologo.png}" type="image/x-icon">
    <!--<link rel="icon" href="../../../resources/core/imagenes/isologo.png" type="image/x-icon">-->

    <!--<link rel="stylesheet" href="../../../resources/core/css/variables.css"/>
    <link rel="stylesheet" href="../../../resources/core/css/base.css"/>
    <link rel="stylesheet" href="../../../resources/core/css/home.css"/>-->
    <link rel="stylesheet" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>
<body>
<header>
    <nav th:replace="templates/nav :: nav"></nav>
</header>
<main class="contenedor_general">
    <aside class="columnaUno">
        <div class="estructura">
            <img class="user"
                 th:src="@{${usuario.fotoPerfil != null ? '/' + usuario.fotoPerfil : '/imagenes/user.png'}}"
                 alt="Foto de perfil">
            <!--<img class="user" src="../../../resources/core/imagenes/user.png">-->
            <h2 class="palabra" th:text= "${usuario.nombre}"></h2>
            <h2 class="palabra" th:text= "${usuario.apellido}"></h2>
            <ul>
                <li class="titulo" th:text="${usuario.carrera != null ? usuario.carrera.nombre : 'Sin carrera'}">Carrera</li>
            </ul>
        </div>
        </div>
        <div class="estructura box_columnaUno">
            <a href=""><img th:src="@{/imagenes/grupos.png}"> Grupos</a>
            <a href=""><img th:src="@{/imagenes/guardados.png}"> Elementos guardados</a>
            <!--se lo agrego aca... despues vemos bien donde lo ubicamos-->
            <a th:href="@{/subir-archivo}" class="btn_subir_archivos">
                <img th:src="@{/imagenes/pdf-icon.png}" alt="icono-pdf">Mis archivos
            </a>
            <!--<a href=""><img src="../../../resources/core/imagenes/grupos.png"> Grupos</a>
            <a href=""><img src="../../../resources/core/imagenes/guardados.png"> Elementos guardados</a>-->
        </div>
    </aside>

    <section class="columnaDos">
        <article class="estructura">
            <div th:replace="templates/form-publicacion :: form-publi(${publicacion})"></div>
        </article>
        <article class="box_ordenarPor">
            <div class="separador"></div>
            <form>
                <label for="ordenar">Ordenar por: </label>
                <select name="ordenar" id="ordenar">
                    <option value="p">Principal</option>
                    <option value="r">Recientes</option>
                </select>
            </form>
        </article>
        <!-- se reemplaza por el articulo que contiene c/u de las publis en divTarjeta -->
        <div th:each="dtopubli : ${datosPublicaciones}">
            <div th:replace="templates/divTarjetaPublicacion :: tarjetaPublicacion(${dtopubli})"></div>
        </div>

    </section>
    <aside class="estructura columnaTres">
        <div class="container_profile">
            <h2>Aumnos cursando...</h2>
            <p>Ingeniería en Sistemas</p>
        </div>
        <div class="recomendaciones_users" >
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
        </div>
    </aside>
</main>
<script type="module" th:src="@{/js/publicacionBtnFunciones.js}"></script>
<script type="module" th:src="@{js/tema.js}"></script>
</body>
</html>