<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="../../../resources/core/css/home.css"/>
</head>
<body>
<header>
    <nav class="navbar">
        <a href="#"><img class="isologo" th:src="@{/imagenes/isologo.png}"></a>
        <!--<a href="#"><img class="isologo" src="../../../resources/core/imagenes/isologo.png"></a>-->
        <div>
            <a href="/spring/miPerfil">Mi Perfil</a>
            <a href="/spring/miPerfil">Notificaciones</a>
            <a href="/spring/miPerfil">Mensajes</a>
        </div>
    </nav>
</header>
<main class="contenedor_general">
    <aside class="estructura columnaUno">
        <div>
            <img class="user" th:src="@{/imagenes/user.png}">
            <!--<img class="user" src="../../../resources/core/imagenes/user.png">-->
            <h2 class="palabra" th:text= "${usuario.nombre}"></h2>
            <h2 class="palabra" th:text= "${usuario.apellido}"></h2>
            <ul>
                <li class="titulo" th:text="${usuario.carrera != null ? usuario.carrera.nombre : 'Sin carrera'}">Carrera</li>
            </ul>
        </div>
<!--se lo agrego aca... despues vemos bien donde lo ubicamos-->
        <a th:href="@{/subir-archivo}" class="btn_subir_archivos">Subir archivos</a>

        <div>
            <p>blablaba</p>
            <p>blablaba</p>
            <p>blablaba</p>
            <a href="#" class="ver_mas">Conocer más...</a>
        </div>
        <div>
            <ul>
                <li>Archivos</li>
                <li>Grupos</li>
            </ul>
        </div>
    </aside>
    <section class="columnaDos">
        <article class="estructura">
            <form class="box_comentario" method="POST" action="/spring/publicaciones">
                <!--<input name="descripcion" id="publicacion" placeholder="Escribe algo"/>-->
                <textarea name="descripcion" id="publicacion" placeholder="Escribe algo"></textarea>
                <div class="box_publi_botones">
<!--                    <button>attach_file</button>-->
                    <button>Visibilidad</button>
                    <button type="submit" name="nueva-publicacion">Publicar</button>
                </div>
            </form>
        </article>
        <article class="estructura">
            <div class="botones-quePublisVer">
                <div class="ordenar-por">
                    <p class="ordernar-por_text">Ordenar Por</p><span><button>Ordenar por</button></span>
                </div>
            </div>
            <div th:each="dtopubli : ${datosPublicaciones}">
                <div th:replace="templates/publicacion :: tarjetaPublicacion(${dtopubli})"></div>
            </div>

        </article>
    </section>
    <aside class="estructura columnaTres">
        <div class="container_profile">
            <h2>Aumnos cursando...</h2>
            <p>Ingeniería en Sistemas</p>
        </div>
        <div class="recomendaciones_users" >
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <img class="user2" th:src="@{/imagenes/user2.png}">
            <!--<img class="user2" src="../../../resources/core/imagenes/user2.png">
            <img class="user2" src="../../../resources/core/imagenes/user2.png">
            <img class="user2" src="../../../resources/core/imagenes/user2.png">
            <img class="user2" src="../../../resources/core/imagenes/user2.png">
            <img class="user2" src="../../../resources/core/imagenes/user2.png">-->
        </div>
    </aside>
</main>
</body>
</html>