<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <!--<link rel="stylesheet" href="../../../resources/core/css/perfil.css"/>
    <link rel="stylesheet" href="../../../resources/core/css/home.css"/>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <a href="#"><img class="isologo" th:src="@{/imagenes/isologo.png}"></a>
        <!--<a href="#"><img class="isologo" src="../../../resources/core/imagenes/isologo.png"></a>-->
        <div>
            <a href="/spring/miPerfil">Mi Perfil</a>
            <a href="/spring/miPerfil">Notificaciones</a>
            <a href="/spring/miPerfil">Mensajes</a>
            <a href="/spring/miPerfil">Cerrar sesión</a>
        </div>
    </nav>
</header>
<main class="contenedor_box_general">
    <aside class="estructura contenedor_usuario" >
        <!--<img class="user" src="../../../resources/core/imagenes/user.png">
        <div class="contenedor_usuario_btn">
            <button type="submit" class="btn">Cambiar foto</button>
            <button type="submit" class="btn">Eliminar foto</button>
        </div>-->
        <img class="user"
             th:src="${usuario.fotoPerfil != null ? usuario.fotoPerfil : '/imagenes/user.png'}"
             alt="Foto de perfil">

        <div class="contenedor_usuario_btn">
            <form th:action="@{/miPerfil/foto}" method="post" enctype="multipart/form-data">
                <input type="file" name="fotoPerfil" accept="image/*">
                <button type="submit" class="btn">Cambiar foto</button>
            </form>

            <form th:action="@{/miPerfil/eliminar-foto}" method="post">
                <button type="submit" class="btn">Eliminar foto</button>
            </form>
        </div>
    </aside>
    <section class="estructura">
        <h2 th:text= "${usuario.nombre}"></h2>
        <ul>
            <li class="titulo" th:text="${usuario.carrera != null ? usuario.carrera.nombre : 'Sin carrera'}">Carrera</li>
        </ul>
        <form th:action="@{/mi-perfil}" th:object="${usuario}" method="post">
    <div class="contenedor_campos">
        <div class="box_campo">
            <label for="dni">D.N.I</label>
            <input th:field="*{dni}" type="number" id="dni" name="dni">
        </div>
        <div class="box_campo">
            <label for="nac">Fecha de nacimiento</label>
            <input th:field="*{fechaNacimiento}" type="date" id="nac" name="nac">
        </div>
        <div class="box_campo">
            <label for="genero">Género</label>
            <select th:field="*{genero}" id="genero" name="genero">
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
                <option value="O">Otro</option>
            </select>
        </div>
        <div class="box_campo">
            <label for="mail">Email personal</label>
            <input th:field="*{email}" type="email" id="mail" name="mail">
        </div>
        <div class="box_campo">
            <label for="tel">Teléfono</label>
            <input th:field="*{telefono}" type="tel" id="tel" name="tel">
        </div>
        <div class="box_campo">
            <label for="dir">Dirección</label>
            <input th:field="*{direccion}" type="text" id="dir" name="dir">
        </div>
        <div class="box_campo">
            <label for="localidad">Localidad</label>
            <input th:field="*{localidad}" type="text" id="localidad" name="localidad">
        </div>
        <div class="box_campo">
            <label for="prov">Provincia</label>
            <input th:field="*{provincia}" type="text" id="prov" name="provincia">
        </div>
        <div class="box_campo">
            <label for="cod">Código Postal</label>
            <input th:field="*{codigoPostal}" type="text" id="cod" name="codigoPostal">
        </div>
    </div>

    <div class="contenedor_campos_btn">
        <button type="submit" class="btn">Guardar cambios</button>
        <a th:href="@{/home}" class="btn">Volver</a>
    </div>
</form>
    </section>
</main>
<script type="module" th:src="@{js/login.js}"></script>
</body>
</html>