<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registrarse</title>

    <link rel="icon" th:href="@{/imagenes/isologo.png}" type="image/x-icon">
    <!--<link rel="icon" href="../../../resources/core/imagenes/isologo.png" type="image/x-icon">-->

    <link rel="stylesheet" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/registrarse.css}"/>
    <!--<link rel="stylesheet" href="/src/main/webapp/resources/core/css/variables.css">
    <link rel="stylesheet" href="/src/main/webapp/resources/core/css/base.css">
    <link rel="stylesheet" href="../../../resources/core/css/registrarse.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
<nav>
    <img class="logo" th:src="@{/imagenes/logo.png}">
    <!--<img class="logo" src="../../../resources/core/imagenes/logo.png">-->
</nav>
<main role="main" class="contenedor">
    <div id="loginbox"  class="contenedor_form">
        <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}" accept-charset="UTF-8">
            <h3>Nuevo Usuario</h3>
            <div class="separador"></div>
            <input th:field="*{nombre}" id="nombre" placeholder="Nombre" required/>
            <input th:field="*{apellido}" id="apellido" placeholder="Apellido" required/>
            <input th:field="*{email}" id="email" placeholder="Email" required/>
            <input th:field="*{password}" type="password" id="password" placeholder="Contraseña" required/>
            <input th:field="*{dni}" id="dni" type="number" placeholder="D.N.I" required/>
            <input th:field="*{fechaNacimiento}" id="fecha" type="date" required/>
            <div class="carreras">
                <label for="carrera">Carrera</label>
                <select th:field="*{carrera.id}" id="carrera" required>
                    <option value="" disabled selected>Seleccionar una carrera</option>
                    <option th:each="carrera : ${todasLasCarreras}"
                            th:value="${carrera.id}"
                            th:text="${carrera.nombre}">
                    </option>
                </select>
            </div>

            <button id="btn-registrarme" class="btn" Type="Submit">Registrarme</button>
            <a href="login.html">Volver atrás</a>
            <p th:if="${error != null}" class="error" th:text="'Error ' + ${error}">
            </p>
        </form>
    </div>
</main>
<script type="module" th:src="@{js/tema.js}"></script>

<!--<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const emailInput = document.getElementById("email");

        form.addEventListener("submit", function (event) {
            const email = emailInput.value.trim();
            if (!email.endsWith("@unlam.edu.ar")) {
                event.preventDefault(); // Evita que se envíe el formulario
                alert("El email debe ser institucional");
            }
        });
    });
</script>-->

</body>
</html>