<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>
    <link rel="stylesheet" th:href="@{/css/registrarse.css}"/>
    <link rel="stylesheet" href="../../../resources/core/css/registrarse.css">

</head>

<body>


<main role="main" class="mainformularioRegistrarse">
<div class="contendor-info-registrarse">
<!--    <p>Comunidad estudiantil de la Universidad Nacional de La Matanza</p>-->
</div>

    <div id="loginbox"  class="contenedor-form">
        <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}" accept-charset="UTF-8">



            <div class="form-group">
              <label for="nombre" >Nombre</label>
              <input th:field="*{nombre}" id="nombre"  type="text" required/>
          </div>

            <div class="form-group">
              <label for="apellido" >Apellido</label>
              <input th:field="*{apellido}" id="apellido" type="text" required/>
          </div>
            <div class="form-group">
                <label for="dni" >Dni</label>
                <input th:field="*{dni}" id="dni" type="number" required/>
            </div>

            <div class="form-group">
                <label for="carrera">Carrera</label>
                <select th:field="*{carrera.id}" id="carrera" required>
                    <option value="" disabled selected>Seleccionar una carrera</option>
                    <option th:each="carrera : ${todasLasCarreras}"
                            th:value="${carrera.id}"
                            th:text="${carrera.nombre}">
                    </option>
                </select>
            </div>

            <div class="form-group">
        <label for="email" >Email</label>
        <input th:field="*{email}" id="email" type="text" required/>
          </div>

            <div class="form-group">
              <label for="password">Contraseña</label>
        <input th:field="*{password}" type="password" id="password"  required/>
          </div>

        <button id="btn-registrarme" class="buttonRegistrarse" Type="Submit">Registrarme</button>
        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
        </p>
      </form>

    </div>


</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>