<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Registrarse</title>
    <link rel="stylesheet" th:href="@{/css/registrarse.css}"/>
    <!--<link rel="stylesheet" href="../../../resources/core/css/registrarse.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
<nav>
    <img class="logo" th:src="@{/imagenes/logo.png}">
    <!--<img class="logo" src="../../../resources/core/imagenes/logo.png">-->
</nav>
<main role="main" class="contenedor">
    <div id="loginbox"  class="contenedor_form">
        <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}" accept-charset="UTF-8">
            <h3>Nuevo Usuario</h3>
            <div class="separador"></div>
            <input th:field="*{nombre}" id="nombre" placeholder="Nombre" required/>
            <input th:field="*{apellido}" id="apellido" placeholder="Apellido" required/>
            <input th:field="*{email}" id="email" placeholder="Email" required/>
            <input th:field="*{password}" type="password" id="password" placeholder="Contraseña" required/>
            <input th:field="*{dni}" id="dni" type="number" placeholder="D.N.I" required/>
            <input th:field="*{fechaNacimiento}" id="fecha" type="date" placeholder="Fecha de nacimiento" required/>
            <div class="carreras">
                <label for="carrera">Carrera</label>
                <select th:field="*{carrera.id}" id="carrera" required>
                    <option value="" disabled selected>Seleccionar una carrera</option>
                    <option th:each="carrera : ${todasLasCarreras}"
                            th:value="${carrera.id}"
                            th:text="${carrera.nombre}">
                    </option>
                </select>
            </div>

        <button id="btn-registrarme" class="btn" Type="Submit">Registrarme</button>
            <a href="login.html">Volver atrás</a>
        <p th:if="${error != null}" cclass="error" th:text="'Error ' + ${error}">
        </p>
      </form>
    </div>
</main>
<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>