<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validar Código</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>UniNet</title>

    <link rel="icon" th:href="@{/imagenes/isologo.png}" type="image/x-icon">
    <!--<link rel="icon" href="../../../resources/core/imagenes/isologo.png" type="image/x-icon">-->

    <link rel="stylesheet" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <!--<link rel="stylesheet" href="/src/main/webapp/resources/core/css/variables.css">
    <link rel="stylesheet" href="/src/main/webapp/resources/core/css/base.css">
    <link rel="stylesheet" href="/src/main/webapp/resources/core/css/login.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>
<body>
<nav>
    <img class="logo" th:src="@{/imagenes/logo.png}">
    <!--<img class="logo" src="../../../resources/core/imagenes/logo.png">-->
</nav>

<!-- Contenedor principal de la página -->
<main role="main" class="contenedor">
    <h2>Solicitudes de amistad</h2>
    <div th:each="a : ${solicitudes}">
        <span th:text="${a.solicitante.nombre}"></span>
        <form th:action="@{'/amistad/aceptar/' + ${a.id}}" method="post">
            <button type="submit">Aceptar</button>
        </form>
        <form th:action="@{'/amistad/rechazar/' + ${a.id}}" method="post">
            <button type="submit">Rechazar</button>
        </form>
    </div>
    </div>
</main>
</body>
<script type="module" th:src="@{js/tema.js}"></script>
<script type="module" th:src="@{js/login.js}"></script>
</html>
